.container {
    position: relative;
    max-width: 450px;
    margin: 0 auto;
    box-sizing: border-box;
}

#generate_table,
#select_dimension,
#timer {
    float: left; 
    height: 30px;
    font-size: 14px;
}
.menu_holder {margin-bottom: 10px;text-align: center;}
.menu_holder::after {
    clear: both;
    content:'';
    display: block;
}
#select_dimension {margin-left: 20px;padding: 0 10px;}
#timer {
    float: right;
    display: inline-block;
    text-align: center;
    font-size: 26px;
}
.msg {
    float: left;
    margin-left: 20px;
    font-size: 26px;
    display: none;
}
.not_active {
   pointer-events: none !important;
   cursor: default !important;
}
.table_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 450px;
    margin: 0 auto;
    box-sizing: border-box;
}
.row {
    display: inline-block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.row .cell{
    border: 1px solid #ccc;
    float: left;
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
}
.row .cell:hover {
    opacity: 0.7;
    background-color: #ccc;
}
.row .cell_true {
    border: 3px solid #00ff1e;
}
.row .cell_false {
    border: 3px solid #ff001e;

}
.row .cell.disabled,
.row .cell.disabled:hover{
    background: buttonface;
    color: buttonface;
    opacity: 1;
}





